.my-textarea {
  position: relative;
  border-style: solid;
  border-color: transparent;

  /* Gradient border */
  background:
    linear-gradient(rgb(var(--bg-main)), rgb(var(--bg-main))) padding-box,
    var(--gradient-main) border-box;
  background-size: 200% 100%;
  background-position: 0 100%;
  transition: background-position 0.3s ease-out;

  /* Height should not override Tailwind classes */
}

.my-textarea-wrong {
  position: relative;
  border-style: solid;
  border-color: transparent;

  /* Gradient border */
  background:
    linear-gradient(rgb(var(--bg-main)), rgb(var(--bg-main))) padding-box,
    var(--gradient-main) border-box;
  background-size: 200% 100%;
  background-position: 0 100%;
  transition: background-position 0.3s ease-out;

  /* Height should not override Tailwind classes */
}
