.user-bg-image {
  aspect-ratio: 3/1;
  background-size: var(--bg-size, cover);
  background-position: var(--bg-position, center);
  background-repeat: no-repeat;
  background-color: rgba(var(--bg-third));
  background-image: var(--bg-image);
}
