@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Jua&display=swap');


  body {
    font-family: 'inter', sans-serif;
    font-size: 16px;
    color: var(--text-color);
  }
  
  .bg-gradient-main {
    background: var(--main-gradient-color);
    background-size: 200% 100%;
    transition: background-position 0.3s;
  }
  
  .text-gradient-main {
    background: var(--main-gradient-color);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  
  .text-gradient-second {
    background: var(--second-gradient-color);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  
  .hover\:bg-gradient-main-move:hover,
  .focus\:bg-gradient-main-move:focus {
    background-position: 50% 0;
  }
  
  .bg-disabled {
    background: #dcdcdc;
  }

  .background-image {
    background: url('../images/login_background.jpg');
    min-height: 100vh;
    height: auto;
    
  }

  [data-theme="dark"] .background-image {
    background: url('../images/login_background.jpg');
  }

  [data-theme="dark"] .background-image::before {
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 0;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0.5;
      transform: scale(0.9);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  @layer utilities {
    .animate-fade-in {
      animation: fadeIn 0.25s ease-out;
    }
  }